@import "remixicon/fonts/remixicon.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.parent {
  width: 100%;
  height: 100%;
  padding-inline: 2rem;
  padding-top: 1rem;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  margin: auto;
}
.card .top {
  display: flex;
}
.top img {
  width: 38%;
  object-fit: cover;
  padding: 0.5rem;
  border: 1px solid #9f9c9c;
  border-radius: 50%;
}
.btn {
  align-items: center;
}
.btn button {
  display: flex;
  font-size: 0.9rem;
  gap: 10px;
  border: 1px solid #333;
  outline: none;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.center h3 {
  font-size: 1.2rem;
}
.center h3 span {
  font-size: 1rem;
  margin-left: 10px;
  color: rgb(160, 159, 159);
}
.center h2 {
  font-size: 1.3rem;
  margin-top: 5px;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.tags {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.tags h4 {
  background-color: #ededed;
  padding: 8px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}
.bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(198, 197, 197);
  padding-top: 20px;
}
.left h3 {
  font-size: 1.2rem;
}
.left h5 {
  font-size: 0.7rem;
  color: rgb(198, 197, 197);
}
.right button {
  background-color: black;
  padding: 12px 15px;
  border-radius: 10px;
  color: white;
}

@media (max-width: 600px) {
  .card {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .top {
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  .center {
    padding-bottom: 2rem;
  }
  .bottom {
    padding-top: 2rem;
  }
}
@media (max-width: 700px) {
  
  .card {
    flex-shrink: 0;
    flex-grow: 1;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .top {
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  .center {
    padding-bottom: 2rem;
  }
  .bottom {
    padding-top: 2rem;
  }
}
