.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 10px;
  background: conic-gradient(blue,yellow);
  color: black;
}
.heading{
  font-size: 1.5rem;
  text-align: center;
}
.btn{
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn button{
  padding: 15px 25px;
  border-radius: 10px;
  background-color: black;
  color: white;
}