.container{
  padding: 20px;
  background : linear-gradient(green,blue);
  text-align: center;
}

.btn{
  background-color: rgb(73, 73, 218);
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
}